<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular Traning</title>

		<meta name="description" content="Angular Training for beginners">
		<meta name="author" content="Jhankar Mahbub">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="css/theme/serif.css">
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Angular Workshop</h1>
					<p>
						<small>Created by <a href="http://thatjsdude.com">Jhankar Mahbub</a> / <a href="http://twitter.com/jsdude005">@jsdude005</a></small>
					</p>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>How your day will look like</h2>						
					</section>
					<section>
						<h2>Morning</h2>
						<ul>
							<li>9.30-10.00: Why angular and Angular building blocks</li>
							<li>10.00-10.20: ng cli and create your first app</li>
							<li>10.20-10.30: Intro to TypeScript</li>
							<li>10.30-10.50: Add components</li>
							<li>10.50-11.00: break</li>
							<li>11.00-11.40: data binding event handling and pipes</li>
							<li>11.40-12.00: Modules</li>
							<li>12.00-1.00: Lunch break</li>
						</ul>
					</section>
					<section>
						<h2>After Lunch</h2>
						<ul>
							<li>1.00-1.30: RxJS and Service</li>
							<li>1.30-2.00: Install and apply Material Design</li>
							<li>2.00-2.30: Create componet with md-card</li>
							<li>2.30-2.45: QA</li>
							<li>2.45-3.00: Small break</li>
						</ul>
					</section>
					<section>
						<h2>After Snacks</h2>
						<ul>
							<li>3.00-3.30: Angular router</li>
							<li>3.30-4.00: Pass router data and Auth guard</li>
							<li>4.00-4.20: Pass data to child component</li>
							<li>4.30-4.40: Managing state</li>
							<li>4.40-5.00: Final QA</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Why Angular</h2>
					</section>
				</section>
				<section>
					<section>
						<h1>Setup & Pre requisite</h1>
					</section>
					<section>
						<ul>
							<li>Latest Node installed</li>
							<li>Visual Studio Code</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>Angular Building Block</h2>
					</section>
					<section>
						<h2>building block</h2>
						<ul>
							<li>Component</li>
							<li>Service</li>
							<li>Directive</li>
							<li>Module</li>
							<li>Template & Data Binding</li>
							<li>Routes</li>
							<li>Http Client</li>
							<li>Testing</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Create your first app</h2>
					</section>
					<section>
						<ul>
							<li>Search: ng cli</li>
							<li>Make angular app creation easier</li>
							<li>Productive</li>
							<li>Robust</li>
						</ul>
					</section>
					<section>
						<h3>Just 4 commands</h3>
						<ul>
							<li><code>npm install -g @angular/cli</code></li>
							<li class="fragment"><code>ng new bangular-bank</code></li>
							<li class="fragment"><code>cd bangular-bank</code></li>
							<li class="fragment"><code>ng serve</code></li>
						</ul>
					</section>
					<section>
						<h3>Other ng new settings</h3>
						<ul>
							<li>--style=scss</li>
							<li>--minimal=true</li>							
						</ul>
						<br>
						<br>
						<a href="https://github.com/angular/angular-cli/wiki/new">ng-new doc</a>
					</section>
					<section>
						<h2>See what inside</h2>
						<ul>
							<li>Explore the Default code generator</li>
							<li>App Module</li>
							<li>App Component</li>
							<li>Different pieces of App component</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>TypeScript</h2>
						<pre><code>
function add(a: number, b: number) {
  return a + b;
}

add(1, 3);   // returns 4
add(1, '3'); // causes a compiler error
						</code></pre>
						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2></h2>
						<pre><code>
class TodoItems {
  items: string[];  // or Array of string

  constructor(initialItems: string[]) {
    this.items = initialItems;
  }

  empty(): boolean {
    return this.items.length == 0;
  }
}

const allItems = new TodoItems(['install NPM', 'install Node']);
						</code></pre>
					</section>
					<section>
						<h2>Interface</h2>
						<pre><code>
export interface IDogData {
  name?: string;
  breed?: string;
  age?: number;
}
						</code></pre>
					</section>
					<section>
						<pre><code>
export class Dog {
  name: string;
  breed: string;
  age: number;

  constructor(data: IDogData) {
    this.name = data.name;
    this.breed = data.breed;
    this.age = data.age;
  }
}

const dog = new Dog({ name: 'Bear', breed: 'Border Collie', age: 4 });
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Template and Data binding</h2>
					</section>
					<section>
						<h2>Templating</h2>
						<ul>
							<li>A template is HTML that tells Angular how to render a component</li>
							<li>Templates include data bindings as well as other components and directives</li>
							<li>Angular 2 leverages native DOM events and properties which dramatically reduces the need for a ton of builtin directives</li>
							<li>Angular 2 leverages shadow DOM to do some really interesting things with view encapsulation</li>
						</ul>
					</section>
					<section>
						<pre><code>
<div class="experiment" (click)="doExperiment()">
 <h3>{{ experiment.name }}</h3>
 <p>{{ experiment.description }}</p>
 <p><strong>{{experiment.completed}}</strong></p>
 </div>
						</code></pre>
					</section>
					<section>
						<h2>Data binding</h2>
						<ul>
							<li>Enables data to flow from the component to template and vice-versa</li>
							<li>Includes interpolation, property binding, event binding, and two-way binding (property binding and event binding combined)</li>
							<li>The binding syntax has expanded but the result is a much smaller framework footprint</li>
						</ul>
					</section>
					<section>
						<pre><code>
<h1>{{title}}</h1>
<p>{{body}}</p>
<hr/>
<experiment *ngFor="#experiment of experiments"
 [experiment]="experiment"></experiment>
<hr/>
<div>
 <h2 class="text-error">Experiments: {{message}}</h2>
 <form class="form-inline">
 <input type="text"
 [(ngModel)]="message" placeholder="Message">
 <button type="submit" class="btn"
 (click)="updateMessage(message)">Update Message
 </button>
 </form>
</div>
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>ES6</h2>
					</section>
					<section>
						<h2>imports</h2>
						<p>Makes the blocks of functionality available in the imported modules available to the contents of this module</p>
						<pre><code>
import { Component, OnInit } from '@angular/core';
import { Dog } from '../dog';
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h1>Component</h1>
					</section>
					<section>
						<h2>What is a component</h2>
						<ul>
							<li>Building Block</li>
							<li>Repeating block</li>
							<li>Component grouped together</li>
							<li>Large component broken down into pieces</li>
						</ul>
						<p class="fragment">ng generate component my-new-component</p>
					</section>
					<section>
						<h2>Open app.component.ts</h2>
						<pre><code>
import { Component } from '@angular/core';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  title = 'app works!';
}
						</code></pre>
						<ul class="fragment">
							<li><small>@Component is a decorator that adds metadata to the AppComponent class</small></li>
							<li><small>selector tells Angular to use this class to fill in uses of <app-root></app-root></small></li>
							<li><small>templateUrl tells it where to find the HTML to use for filling in</small></li>
							<li><small>styleUrls is a list of CSS style files to apply to this component</small></li>
						</ul>						
					</section>
					<section>
						<h2>Things need to import</h2>
						<ul>
							<li>Import the core Angular dependencies</li>
							<li>Import 3rd party dependencies</li>
							<li>Import your custom dependencies</li>
							<li>This approach gives us a more fine-grained control over the managing our dependencies</li>
						</ul>
					</section>
					<section>
						<h2>Types of Component</h2>
						<ul>
							<li>Fature Component</li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Services</h1>
					</section>		
					<section>
						<h2>What services do</h2>
						<ul>
							<li>A service is just a class</li>
							<li>Should only do one specific thing</li>
							<li>Take the burden of business logic out of components</li>
							<li>Decorate with @Injectable when we need to inject dependencies into our service</li>
						</ul>
					</section>		
					<section>
						<h2>RxJS</h2>
						<ul>
							<li>Library for reactive programming</li>
							<li>Array-like methods for dealing with async streams</li>
							<li>Used heavily in Angular..specially in service</li>
						</ul>
					</section>
					<section>
						<h2>Observable</h2>
						<pre><code>
import { Observable } from 'rxjs/Observable';

Observable.create(observer => {
  observer.next(42);
})
  .subscribe((value: number) => {
    console.log(value); // 42
  });
						</code></pre>
						<pre class="fragment"><code>
import { Observable } from 'rxjs';

const el = document.getElementById('some-el');
Observable.fromEvent(el, 'mouseover')
  .subscribe((ev: MouseEvent) => {
    console.log(ev.pageX, ev.pageY); // x and y
  });
						</code></pre>
					</section>
					<section>
						<h2>Create cli</h2>
						<p><code>ng generate service my-service</code></p>
					</section>
				</section>

				<section>
					<section>
						<h2>Material Design</h2>
					</section>
					<section>
						<ul>
							<li>Framework used to layout the app responsively</li>
							<li>Do not feel that you need to implement the labs with Angular Material</li>
						</ul>
					</section>
					<section>
						<h2>Install Material Design</h2>
					</section>
				</section>

				<section>
					<section>
						<h1>Modules</h1>
					</section>
					<section>
						<ul>
							<li>central building block of Angular</li>
							<li>helps organize code into cohesive blocks of functionality</li>
						</ul>
					</section>
					<section>
						<pre><code>
import { NgModule } from '@angular/core';

@NgModule({
  imports: [],
  declarations: [],
  bootstrap: []
})
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Component Life Cycle</h1>
					</section>
					<section>
						<ul>
							<li>Allow us to perform custom logic at various stages of a component's life</li>
							<li>Data isn't always immediately available in the constructor</li>
							<li>Only available in TypeScript</li>
							<li>The lifecycle interfaces are optional. We recommend adding them to benefit from TypeScript's strong typing and editor tooling</li>
							<li>Implemented as class methods on the component class</li>
						</ul>
					</section>
					<section>
						<ul>							
							<li>ngOnChanges - called when an input or output binding value changes</li>
							<li>ngOnInit - after the first ngOnChanges</li>
							<li>ngDoCheck - developer's custom change detection</li>
							<li>ngAfterContentInit - after component content initialized</li>
							<li>ngAfterContentChecked - after every check of component content</li>
							<li>ngAfterViewInit - after component's view(s) are initialized</li>
							<li>ngAfterViewChecked - after every check of a component's view(s)</li>
							<li>ngOnDestroy - just before the directive is destroyed.</li>
						</ul>
					</section>
				</section>

				
				<section>
					<section>
						<h1>Pass Data to Component</h1>
					</section>
					<section>
						<h2>Using @Input</h2>
						<pre><code>
import { Component, Input } from '@angular/core';

@Component({
  selector: 'app-say-hello',
  templateUrl: './hello.component.html'
})
export class SayHelloComponent {
  @Input()
  public name: string;
}
						</code></pre>
						<pre class="fragment"><code>
<h3 *ngIf="name">Hello {{name}}!</h3>
						</code></pre>
						<pre class="fragment"><code>
<app-say-hello name="John"></app-say-hello>
						</code></pre>
					</section>
					<section>
						<h2>@Output</h2>
						<ul>
							<li>A decorator used to handle "custom" events</li>
							<li>Similar to & callback binding in AngularJS</li>
						</ul>
					</section>
					<section>
						<h2>@output</h2>
						<pre><code>
import { Component, EventEmitter, Output } from '@angular/core';

@Component({
  selector: 'app-dog-list',
  templateUrl: './dog-list.component.html'
})
export class DogListComponent {
  @Output()
  public add: new EventEmitter();

  @Input()
  public dogs: IDog[] = [];

  addDog(dog: IDog) {
    this.dogs.push(dog);
    this.add.emit(dog);
  }
}
						</code></pre>
						<pre class="fragment"><code>
<app-dog-list [dogs]="dogs" (add)="handleDogAdd($event)"></app-dog-list>
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Routing</h1>
					</section>	
					<section>
						<h2>Router</h2>
						<ul>
							<li>Component Router</li>
							<li>Navigating Routes</li>
							<li>Route Parameters</li>
							<li>Query Parameters</li>
							<li>Child Routes</li>
						</ul>
					</section>
					<section>
						<h2>Component Router</h2>
						<ul>
							<li>Import ROUTE_PROVIDERS, ROUTE_DIRECTIVES, and the RouteConfig decorator</li>
							<li>Set a base href in the head tag of your HTML like so: <base href="/"></li>
							<li>Configuration is handled via a decorator function (generally placed next to a component) by passing in an array of route definition objects</li>
							<li>Use the router-outlet directive to tell Angular where you want a route to put its template <router-outlet></router-outlet></li>
						</ul>
					</section>
					<section>
						<pre><code>
RouteConfig([
 {path: '/home', name: 'Home', component: HomeComponent, useAsDefault: true},
 {path: '/about', name: 'About', component: AboutComponent},
 {path: '/experiments', name: 'Experiments', component: ExperimentsComponent}
])
export class AppComponent {}
						</code></pre>
						<pre class="fragment"><code>
<div id="container">
 <router-outlet></router-outlet>
</div>
						</code></pre>
					</section>
					<section>
						<h2>Navigating Routes</h2>
						<ul>
							<li>Add a routerLink attribute directive to an anchor tag</li>
							<li>Bind it to a template expression that returns an array of route link parameters <a [routerLink]="['Users']"> Users</a></li>
							<li>Navigate imperatively by importing Router, injecting it, and then calling .navigate() from within a component method </li>
							<li>We pass the same array of parameters as we would to the routerLink directive this._router.navigate( ['Users'] );</li>
						</ul>
					</section>
					<section>
						<pre><code>
<div id="menu">
 <a [routerLink]="['/Home']" class="btn">Home</a>
 <a [routerLink]="['/About']" class="btn">About</a>
 <a [routerLink]="['/Experiments']" class="btn">Experiments</a>
</div>
						</code></pre>
						<pre class="fragment"><code>
export class App {
 constructor(private _router: Router) {}
 navigate(route) {
 this._router.navigate([`/${route}`]);
 }
}
						</code></pre>
					</section>
					<section>
						<h2>Query Parameters</h2>
						<ul>
							<li>Denotes an optional value for a particular route</li>
							<li>Do not add query parameters to the route definition { path:'/users', name: UserDetail, component: UserDetail }</li>
							<li>Add as a parameter to the routerLink template expression just like router params: <a [routerLink]="['Users', {id: 7}]"> {{user.name}} </a></li>
							<li>Also accessed by injecting RouteParams into a component</li>
						</ul>
					</section>
					<section>
						<pre><code>
<div>
 <button [routerLink]="['./MyComponent', {id: 1}]">
 My Component Link</button>
 <button [routerLink]="['./AnotherComponent', {queryParam: 'bar'}]">
 Another Component Link</button>
</div>
						</code></pre>
					</section>
					<section>
						<pre><code>
import { Component } from 'angular2/core';
import { RouteParams } from 'angular2/router';
@Component({
 selector: 'my-component',
 template: `<h1>my component ({{routeParams.get('id')}})!</h1>`
})
export class MyComponent {
 constructor(routeParams: RouteParams) {
 this.routeParams = routeParams;
 }
}
						</code></pre>
					</section>
					<section>
						Child Routes
• Ideal for creating reusable components
• Components with child routes are “ignorant” of the
parents’ route implementation
• In the parent route config, end the path with /…
• In the child config, set the path relative to the parent
path
• If more than one child route, make sure to set the
default route
					</section>
					<section>
						<pre><code>
@RouteConfig([
 {
 path:'/another-component/...',
 name: 'AnotherComponent',
 component: AnotherComponent
 }
])
export class App {}
@RouteConfig([
 {
 path:'/first',
 name: 'FirstChild',
 component: FirstSubComponent
 }
])
export class AnotherComponent {}
						</code></pre>
					</section>
				</section>				
				<section>
					<h2>Take a Moment</h2>
					<p>
						Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.
					</p>
				</section>

				<section>
					<h2>Thank you</h2>
				</section>


			</div>

		</div>

		

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
