<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Angular for absolute beginners</title>

	<meta name="description" content="An introductory talk for funcational programming in JavaScript">
	<meta name="author" content="That JS Dude">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.jpg">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/serif.css" id="theme">
	<link rel="stylesheet" type="text/css" href="css/extra-style.css">
	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<style>
		.reveal section img{
			border: none;
			box-shadow:none;
		}
	</style>

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>

	<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			<section>
				<h2>Angular for Absolute Beginner</h2>
				<br>
				<br>
				<p class="fragment"><a href="https://goo.gl/pdio1i">Just twitted the slides <strong style="color:purple">@jsdude005</strong></a></p>
				<br>
				<br>
				<p>
					<a href="http://thatjsdude.com">ThatJSDude.com</a> / <a href="http://twitter.com/jsdude005">@jsdude005</a>
				</p>
				<p>
					<small><a href="http://www.youtube.com/c/ThatJSDude">youtube.com/c/ThatJSDude </a></small>
				</p>
			</section>
			<section>
				<h2>Goal for you</h2>
				<ul>
					<li>Getting started with Angular</li>
					<li>Core Concpets and Building Blocks</li>
                    <li>Build a functional app with Angular</li>
                    <li>Angular means Angular2+</li>
				</ul>
            </section>
            <section>
				<section>
					<h2>Who is</h2>
					<h1>JS   Dude?</h1>
				</section>
				<section>
					<img src="./images/others/dude.jpeg" alt="">
					<ul>
						<li style="color:purple"><strong>@jsdude005</strong></li>
						<li>Organize Chicago JavaScript meetup</li>
						<li>Sr. Web Developer, Nielsen</li>
						<li>Enjoy Learning, talking about JavaScript</li>
						<!-- <li>Twin Cities code camp in 2013, 2014</li> -->
					</ul>
				</section>
				<section>
					<h2>Jump from 14,000ft </h2>
					<img src="./images/others/jump.JPG" alt="">
				</section>
				<!-- <section>
					<img src="./images/others/skydiving.JPG" alt="">
				</section> -->
				<section>
					<h2>Chicago Marathon 2016</h2>
					<img src="./images/others/marathon.jpg" alt="">
				</section>
				<section>
					<h2>10,000 volts</h2>
					<img src="./images/others/mudder.jpg" alt="">
				</section>
			</section>
			</section>
				<section>
					<section>
						<h2>Why Angular</h2>
                    </section>
                    <section>
                        <h2>Why Angular</h2>
                        <ul>
                            <li class="fragment">Your manager said so</li>
                            <li class="fragment">You are Angular1 veterans</li>
                            <li class="fragment">Live in a .Net world</li>
                            <li class="fragment">Trust google and MS ecosystem</li>
                            <li class="fragment">Love full package</li>
                        </ul>
                    </section>
				</section>
				<section>
					<h2>Setup & Pre requisite</h2>
					<ul>
						<li>Latest Node: <a href="https://nodejs.org/en/download/">download link</a></li>
						<li>Visual Studio Code: <a href="https://code.visualstudio.com/download">download link</a></li>
					</ul>
                </section>
                <section>
                    <section>
                        <h1>Agenda</h1>
                    </section>
                    <section>
                        <h2>Four parts</h2>
                        <ul>
                            <li class="fragment">Resume Driven Development</li>
                            <li class="fragment">Google Driven Development</li>
                            <li class="fragment">Manager Yell Driven Development</li>
                            <li class="fragment">Production Broken Driven Development</li>
                        </ul>
                    </section>
				</section>
				<section>
					<section>
						<h1>Part 1</h1>
						<h4>Resume Driven Development</h4>
					</section>
				</section>
				<section>
					<section>
						<h2>Create your first app</h2>
					</section>
					<section>
						<h2>Angular cli</h2>
						<ul>
							<li>Command line tool for Angular app</li>
							<li>Makes it easy to create an angular application</li>
							<li>Follow all the best practices</li>
							<li>Generate components, routes, services and pipes with a simple command.</li>
							<li>Easy to run, build, deploy and test</li>
							<li>Go to angular cli <a href="https://github.com/angular/angular-cli#installation">installation link</a> </li>
							
						</ul>
					</section>
					<section>
						<h3>Task 1: Just 4 commands</h3>
						<pre><code class="hljs batch">
npm install -g @angular/cli

ng new bangular-bank

cd bangular-bank

ng serve
						</code></pre>						
					</section>
					<section>
						<h3>Other ng new settings</h3>
						<ul>
							<li>--style=scss</li>
							<li>--minimal=true</li>							
						</ul>
						<br>
						<br>
						<a href="https://github.com/angular/angular-cli/wiki/new">ng-new doc</a>
					</section>
				</section>
				<section>
					<section>
						<h1>Part 2</h1>
						<h4>Google Driven Development</h4>
					</section>
					<section>
						<h2>Building Block</h2>
						<ul>
							<li>Component</li>
							<li>Service</li>
							<li>Load data from server</li>
							<li>Module</li>
							<li>Template & Data Binding</li>
							<li>Little touch on Typescript</li>
							<li>Little touch on ES6</li>
						</ul>
						<h4 class="fragment" style="color:red">All in one hour! Are you crazy :'(</h4>
					</section>
				</section>
				<section>
					<section>
						<h1>Component</h1>
					</section>
					<section>
						<h2>What is a component</h2>
						<ul>
							<li>Building Block</li>
							<li>Repeating block</li>
							<li>Component grouped together</li>
							<li>Large component broken down into pieces</li>
						</ul>
					</section>
					<section>
						<h2>Create a component</h2>
						<pre><code class="hljs shell">
ng generate component user
ng g c user
						</code></pre>
						<img src="images/component1.png" alt="">
					</section>
					<section>
						<img src="images/component2.png" alt="">
					</section>
				</section>
				<section>
					<section>
						<h2>TypeScript</h2>
						<pre><code class="hljs typescript">
function add(a: number, b: number) {
  return a + b;
}

add(1, 3);   // returns 4
add(1, '3'); // causes a compiler error
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Templating</h2>
						<h4>Data binding</h4>
					</section>
					<section>
						<h2>Templating</h2>
						
						<pre><code class="hljs html">
<p>
  {{happyText}}
</p>

<button (click)="makeMeHappier()">Make me happier</button>

<ul>
  <li *ngFor="let user of users">
    <a href={{user.html_url}}>{{user.login}}</a>
  </li>
</ul>
						</code></pre>
					</section>
				</section>
				
				
				<section>
					<section>
						<h1>Services</h1>
					</section>		
					<section>
						<h2>create a service</h2>
						<pre><code>ng g s github\github</code></pre>
						<img src="./images/githubService.png" alt="">
					</section>					
				</section>
				<section>
					<section>
						<h2>Load Data from server</h2>
					</section>
					<section>
						<img src="./images/loadData.png" alt="">
					</section>
					<section>
						<img src="./images/loadDataModule.png" alt="">
					</section>
				</section>
				<section>
						<section>
							<h2>ES6</h2>
						</section>
						<section>
							<h2>imports</h2>
							<p>Makes the blocks of functionality available in the imported modules available to the contents of this module</p>
							<pre><code>
import {Http} from '@angular/http';
	
import { GithubService} from '../services/github.service';
	
import {HttpModule} from '@angular/http';
							</code></pre>
						</section>
					</section>
				<section>
					<section>
						<h2>RxJS</h2>
						<aside class="notes">
							<ul>
								<li>Library for reactive programming</li>
								<li>Array-like methods for dealing with async streams</li>
								<li>Used heavily in Angular..specially in service</li>
							</ul>
						</aside>
					</section>
					<section>
						<h2>Observable</h2>
						<pre><code class="hljs typescript">
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/map';
						</code></pre>						
					</section>
				</section>
				<section>
					<section>
						<h2>Life of a developer</h2>
					</section>
					<section>
						<h2>Find the napper</h2>
					</section>
				</section>
				<section>
					<section>
						<h1>Part 3</h1>
					</section>
				</section>
				<section>
					<section>
						<h2>Material Design</h2>
					</section>
					<section>
						<ul>
							<li>Framework used to layout the app responsively</li>
							<li>Do not feel that you need to implement the labs with Angular Material</li>
						</ul>
					</section>
					<section>
						<h2>Install Material Design</h2>
					</section>
				</section>

				<section>
					<section>
						<h1>Modules</h1>
					</section>
					<section>
						<ul>
							<li>central building block of Angular</li>
							<li>helps organize code into cohesive blocks of functionality</li>
						</ul>
					</section>
					<section>
						<pre><code>
import { NgModule } from '@angular/core';

@NgModule({
  imports: [],
  declarations: [],
  bootstrap: []
})
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Component Life Cycle</h1>
					</section>
					<section>
						<ul>
							<li>Allow us to perform custom logic at various stages of a component's life</li>
							<li>Data isn't always immediately available in the constructor</li>
							<li>Only available in TypeScript</li>
							<li>The lifecycle interfaces are optional. We recommend adding them to benefit from TypeScript's strong typing and editor tooling</li>
							<li>Implemented as class methods on the component class</li>
						</ul>
					</section>
					<section>
						<ul>							
							<li>ngOnChanges - called when an input or output binding value changes</li>
							<li>ngOnInit - after the first ngOnChanges</li>
							<li>ngDoCheck - developer's custom change detection</li>
							<li>ngAfterContentInit - after component content initialized</li>
							<li>ngAfterContentChecked - after every check of component content</li>
							<li>ngAfterViewInit - after component's view(s) are initialized</li>
							<li>ngAfterViewChecked - after every check of a component's view(s)</li>
							<li>ngOnDestroy - just before the directive is destroyed.</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h1>Pass Data to Component</h1>
					</section>
					<section>
						<h2>Using @Input</h2>
						<pre><code>
import { Component, Input } from '@angular/core';

@Component({
  selector: 'app-say-hello',
  templateUrl: './hello.component.html'
})
export class SayHelloComponent {
  @Input()
  public name: string;
}
						</code></pre>
						<pre class="fragment"><code>
<h3 *ngIf="name">Hello {{name}}!</h3>
						</code></pre>
						<pre class="fragment"><code>
<app-say-hello name="John"></app-say-hello>
						</code></pre>
					</section>
					<section>
						<h2>@Output</h2>
						<ul>
							<li>A decorator used to handle "custom" events</li>
							<li>Similar to & callback binding in AngularJS</li>
						</ul>
					</section>
					<section>
						<h2>@output</h2>
						<pre><code>
import { Component, EventEmitter, Output } from '@angular/core';

@Component({
  selector: 'app-dog-list',
  templateUrl: './dog-list.component.html'
})
export class DogListComponent {
  @Output()
  public add: new EventEmitter();

  @Input()
  public dogs: IDog[] = [];

  addDog(dog: IDog) {
    this.dogs.push(dog);
    this.add.emit(dog);
  }
}
						</code></pre>
						<pre class="fragment"><code>
<app-dog-list [dogs]="dogs" (add)="handleDogAdd($event)"></app-dog-list>
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Routing</h1>
					</section>	
					<section>
						<h2>Router</h2>
						<ul>
							<li>Component Router</li>
							<li>Navigating Routes</li>
							<li>Route Parameters</li>
							<li>Query Parameters</li>
							<li>Child Routes</li>
						</ul>
					</section>
					<!-- <section>
						<h2>Component Router</h2>
						<ul>
							<li>Import ROUTE_PROVIDERS, ROUTE_DIRECTIVES, and the RouteConfig decorator</li>
							<li>Set a base href in the head tag of your HTML like so: <base href="/"></li>
							<li>Configuration is handled via a decorator function (generally placed next to a component) by passing in an array of route definition objects</li>
							<li>Use the router-outlet directive to tell Angular where you want a route to put its template <router-outlet></router-outlet></li>
						</ul>
					</section>
					<section>
						<pre><code>
RouteConfig([
 {path: '/home', name: 'Home', component: HomeComponent, useAsDefault: true},
 {path: '/about', name: 'About', component: AboutComponent},
 {path: '/experiments', name: 'Experiments', component: ExperimentsComponent}
])
export class AppComponent {}
						</code></pre>
						<pre class="fragment"><code>
<div id="container">
 <router-outlet></router-outlet>
</div>
						</code></pre>
					</section>
					<section>
						<h2>Navigating Routes</h2>
						<ul>
							<li>Add a routerLink attribute directive to an anchor tag</li>
							<li>Bind it to a template expression that returns an array of route link parameters <a [routerLink]="['Users']"> Users</a></li>
							<li>Navigate imperatively by importing Router, injecting it, and then calling .navigate() from within a component method </li>
							<li>We pass the same array of parameters as we would to the routerLink directive this._router.navigate( ['Users'] );</li>
						</ul>
					</section>
					<section>
						<pre><code>
<div id="menu">
 <a [routerLink]="['/Home']" class="btn">Home</a>
 <a [routerLink]="['/About']" class="btn">About</a>
 <a [routerLink]="['/Experiments']" class="btn">Experiments</a>
</div>
						</code></pre>
						<pre class="fragment"><code>
export class App {
 constructor(private _router: Router) {}
 navigate(route) {
 this._router.navigate([`/${route}`]);
 }
}
						</code></pre>
					</section>
					<section>
						<h2>Query Parameters</h2>
						<ul>
							<li>Denotes an optional value for a particular route</li>
							<li>Do not add query parameters to the route definition { path:'/users', name: UserDetail, component: UserDetail }</li>
							<li>Add as a parameter to the routerLink template expression just like router params: <a [routerLink]="['Users', {id: 7}]"> {{user.name}} </a></li>
							<li>Also accessed by injecting RouteParams into a component</li>
						</ul>
					</section>
					<section>
						<pre><code>
<div>
 <button [routerLink]="['./MyComponent', {id: 1}]">
 My Component Link</button>
 <button [routerLink]="['./AnotherComponent', {queryParam: 'bar'}]">
 Another Component Link</button>
</div>
						</code></pre>
					</section>
					<section>
						<pre><code>
import { Component } from 'angular2/core';
import { RouteParams } from 'angular2/router';
@Component({
 selector: 'my-component',
 template: `<h1>my component ({{routeParams.get('id')}})!</h1>`
})
export class MyComponent {
 constructor(routeParams: RouteParams) {
 this.routeParams = routeParams;
 }
}
						</code></pre>
					</section>
					<section>
						Child Routes
• Ideal for creating reusable components
• Components with child routes are “ignorant” of the
parents’ route implementation
• In the parent route config, end the path with /…
• In the child config, set the path relative to the parent
path
• If more than one child route, make sure to set the
default route
					</section>
					<section>
						<pre><code>
@RouteConfig([
 {
 path:'/another-component/...',
 name: 'AnotherComponent',
 component: AnotherComponent
 }
])
export class App {}
@RouteConfig([
 {
 path:'/first',
 name: 'FirstChild',
 component: FirstSubComponent
 }
])
export class AnotherComponent {}
						</code></pre>
					</section> -->
				</section>
		</div>

	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
		// More info https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

			transition: 'slide', // none/fade/slide/convex/concave/zoom

			// More info https://github.com/hakimel/reveal.js#dependencies
			dependencies: [
				{ src: 'lib/js/classList.js', condition: function () { return !document.body.classList; } },
				{ src: 'plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: 'plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
				{ src: 'plugin/zoom-js/zoom.js', async: true },
				{ src: 'plugin/notes/notes.js', async: true }
			]
		});
	</script>

</body>

</html>
